@use "variables" as v;
@use "mixins" as m;
@use "placeholders";
@use "sass:color";

.hero {
  position: relative;
  max-width: 1260px;
  height: 830px;
  margin: 0 auto;
  padding: 140px 0 0 0;
  background: url("../assets/image.webp") center/contain no-repeat;

  &__content {
    position: relative;
    width: 900px;
    margin: 0 auto;

    @media (max-width: v.$media_lg) {
      width: 100%;
      max-width: 700px;
      height: 500px;
    }
  }

  &__title {
    line-height: 1;
    @include m.font(110px, 700, v.$color_black);

    @media (max-width: v.$media_lg){
      @include m.font(100px, 700);
    }
  }

  &__action-btn {
    width: 380px;
    height: 80px;
    background-color: v.$color_black;
    border-radius: 45px;
    cursor: pointer;
    transition: all 0.4s;
    @include m.font(28px, 500, v.$color_white);
    @include m.position(absolute, 1, -1, bottom, right, 15px, 0);

    &:hover {
      background-color: color.adjust(v.$color_black, $alpha: -0.35);
      color: greenyellow;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid white;
    }
    @media (max-width: v.$media_lg){
     @include m.position(absolute, 1, -1, bottom, left, 15px, 0);
    }
  }

  &__notify {
    position: relative;
    margin: 170px auto 0;
    width: 680px;
    height: 68px;
    border-radius: 20px;
    backdrop-filter: blur(40px);
    background: rgba(255, 255, 255, 0.1);
    @include m.d-flex(end, center, nowrap, row, 5px, 0);
  }

  &__notify-img {
    @include m.position(absolute, 1, -1, bottom, left, -75px, -35px);
  }

  &__notify-content {
    width: 450px;
    height: 100%;
    @include m.font(14px, 400, v.$color_black);
    @include m.d-flex(center, center, nowrap);
    border-right: 1px solid white;
    line-height: 1;
  }

  &__notify-btn {
    width: 115px;
    @include m.font(25px, 400, v.$color_black);
    @include m.d-flex(center, center, nowrap);
    @extend %hover-light;
    line-height: 0.95;
    background: none;
    cursor: pointer;
    transition: all 0.5s;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 1px solid white;
      border-radius: 10px;
      padding: 2px 0;
    }
  }

  &__scroll {
    @include m.position(absolute, 1, -1, bottom, left, 200px, 10px);

    @media (max-width: v.$media_lg){
      @include m.position(absolute, 1, -1, bottom, left, -25px, 10px);
    }
  }

  &__scroll-content {
    position: relative;
    @include m.font(16px, 500, v.$color_white);
    writing-mode: vertical-lr;
    cursor: pointer;

    &::after {
      content: "";
      width: 1px;
      height: 75px;
      display: block;
      @include m.position(absolute, 1, -1, bottom, left, -100px, 8px);
      background-color: v.$color_white;
    }
  }
}
