// Color
$color_blue: #678ff2;
$color_white: #fff;
$color_blue-dark: #1F2947;
$color_black: #000;

// Break Points Media Query
$media_xxl: 1400px;
$media_xl: 1200px;
$media_lg: 992px;
$media_md: 768px;
$media_sm: 576px;
$media_min: 428px;
