$bg_color: #678FF2;
$color_blue: #4f7cef;
$color_white: #fefafa;
$color_blue-dark: #f9fafb;
$color_black: #000;


$media_xxl: 1400px;
$media_xl: 1200px;
$media_lg: 992px;
$media_md: 768px;
$media_sm: 576px;
$media_min: 428px;
